@tailwind base;
@tailwind components;
@tailwind utilities;


.buttonPhoto {
    cursor: pointer;
    background: none;
    border: none;
    color: white; /* Ensure contrast for visibility */
    font-size: 24px; /* Adjust size to make them more visible */
    z-index: 60; /* Higher than the modal's content */
}

.modal-overlay {
    z-index: 1000; /* Very high to ensure it's on top */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  
